{% extends 'SSMAPIBundle::DBAL/toolbar.html.twig' %}

{% block toolbarButtonSet %}

	<h2>
		{% trans %}Connection{% endtrans %}
	</h2>

	<a href="{{ path('mapi_dbal') }}">
		{{ model.connection }}
	</a>
		
	{{ parent() }}

{% endblock %}