{% extends 'SSMAPIBundle::Application/workspace.html.twig' %}

{% block workspace %}

	<div class="ui-layout-center">

		{% set bundle=model.bundle %}
		{% set bundles=model.bundles %}
		{% set namespace=model.namespace %}

		{% include "SSMAPIBundle::Application/Namespace/workspaceNamespace.html.twig" with {
			'bundle':bundle.getBundle(),
			'namespaces': namespace
			} %}

	</div>

{% endblock %}