<?xml version="1.0" encoding="UTF-8" ?>
<container
	xmlns="http://symfony.com/schema/dic/services"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:framework="http://symfony.com/schema/dic/symfony"
	xmlns:doctrine="http://symfony.com/schema/dic/doctrine"
	xmlns:mongo="http://symfony.com/schema/dic/doctrine/odm/mongodb"
	xmlns:assetic="http://symfony.com/schema/dic/assetic"
	xmlns:swiftmailer="http://symfony.com/schema/dic/swiftmailer"
	xmlns:monolog="http://symfony.com/schema/dic/monolog"
	xmlns:twig="http://symfony.com/schema/dic/twig"
	xmlns:security="http://symfony.com/schema/dic/security"
	xmlns:routing="http://symfony.com/schema/routing"
	xsi:schemaLocation="
		http://symfony.com/schema/dic/services               /XSD/Symfony/services-1.0.xsd
		http://symfony.com/schema/dic/assetic                /XSD/Symfony/assetic-1.0.xsd
		http://symfony.com/schema/dic/symfony                /XSD/Symfony/symfony-1.0.xsd
		http://symfony.com/schema/dic/doctrine               /XSD/Doctrine/doctrine-1.0.xsd
		http://symfony.com/schema/dic/doctrine/odm/mongodb   /XSD/Doctrine/mongodb-1.0.xsd
		http://symfony.com/schema/dic/swiftmailer            /XSD/Symfony/swiftmailer-1.0.xsd
		http://symfony.com/schema/dic/monolog                /XSD/Symfony/monolog-1.0.xsd
		http://symfony.com/schema/dic/twig                   /XSD/Symfony/twig-1.0.xsd
		http://symfony.com/schema/routing                    /XSD/Symfony/routing-1.0.xsd">

	<imports>
		<import resource="parameters.xml" />
		<import resource="services.xml" />
	</imports>

	<framework:config
		default-locale="%framework.default_locale%"
		http-method-override="%framework.http_method_override%"
		secret="%framework.secret%"
		trusted-proxies="%framework.trusted_proxies%"
		test="%framework.test%">

		<framework:fragments
			enabled="%framework.fragments.enabled%"
			path="%framework.fragments.path%" />

		<framework:router
			http-port="%framework.router.http_port%"
			https-port="%framework.router.https_port%"
			resource="%framework.router.resource%" />

		<framework:annotations
			cache="%framework.annotations.cache%"
			debug="%framework.annotations.debug%"
			file-cache-dir="%framework.annotations.file_cache_dir%" />

		<framework:esi enabled="%framework.esi.enabled%" />

		<framework:profiler enabled="%framework.profiler.enabled%" />
		<framework:session save-path="%framework.session.save_path%" />

		<framework:translator
			enabled="%framework.translator.enabled%"
			fallback="%framework.translator.fallback%" />

		<framework:templating>
			<framework:engine>%framework.templating.engines%</framework:engine>
		</framework:templating>

		<!-- <framework:form enabled="%framework.form.enabled%"> <framework:csrf-protection enabled="%framework.form.csfr_protection.enabled%" /> </framework:form> -->

	</framework:config>

	<assetic:config
		debug="%assetic.debug%"
		use-controller="%assetic.use_controller%"
		read-from="%assetic.read_from%"
		write-to="%assetic.write_to%"
		java="%assetic.java%">

		<assetic:bundle>FrameworkBundle</assetic:bundle>
		<assetic:bundle>SecurityBundle</assetic:bundle>
		<assetic:bundle>TwigBundle</assetic:bundle>
		<assetic:bundle>MonologBundle</assetic:bundle>
		<assetic:bundle>SwiftmailerBundle</assetic:bundle>
		<assetic:bundle>AsseticBundle</assetic:bundle>
		<assetic:bundle>PivotalTrackerBundle</assetic:bundle>

		<assetic:filter name="cssrewrite" />

		<assetic:filter
			name="yui_js"
			jar="%assetic.filter.yui_js.jar%" />

		<assetic:filter
			name="yui_css"
			jar="%assetic.filter.yui_css.jar%" />

	</assetic:config>

	<twig:config
		debug="%kernel.debug%"
		strict-variables="%twig.strict_variables%" />

	<monolog:config>

		<monolog:handler
			name="%monolog.logger.main.name%"
			type="%monolog.logger.main.type%"
			path="%monolog.logger.main.path%"
			level="%monolog.logger.main.level%"
			max-files="%monolog.logger.main.max_files%"
			handler="%monolog.logger.main.handler%" />

		<monolog:handler
			name="%monolog.logger.console.name%"
			type="%monolog.logger.console.type%"
			level="%monolog.logger.console.level%" />

	</monolog:config>

</container>