{% extends 'SSMAPIBundle::workspace.html.twig' %}

{% block toolbar %}
{% endblock %}

{% block workspace %}
	<div class="ui-layout-center">
		{{ dump(configuration.getFilterConfiguration()) }}
	</div>
{% endblock %}