{% extends 'SSMAPIBundle::PHPUnit/toolbar.html.twig' %}

{% block toolbarButtonSet %}

	<h2>
		{% trans %}PHPUnit{% endtrans %}
	</h2>

	<a href="{{ path('mapi_phpunit_configuration') }}">
		{% trans %}Configuration{% endtrans %}
	</a>

	<a href="{{ path('mapi_phpunit_run') }}">
		{% trans %}Run All{% endtrans %}
	</a>

	<a href="{{ path('mapi_phpunit_report') }}">
		{% trans %}Reports{% endtrans %}
	</a>

	{{ parent() }}
{% endblock %}