{% block workspace %}

	{% set classWsdlDomDocument=model.classWsdlDomDocument %}

	<div id="mapi_application_class_ws">
		{% if classWsdlDomDocument %}
		<pre>{% autoescape %}{{ classWsdlDomDocument.saveXML() }}{% endautoescape %}</pre>
		{% endif %}
	</div>
{% endblock %}