{% extends 'SSMAPIBundle::Default/toolbar.html.twig' %}

{% block toolbarTitle %}
	<h2>
		{% trans %}Command{% endtrans %}
	</h2>
{% endblock %}

{% block toolbarButtonSet %}

	<a href="{{ path('mapi_console', { 'command':command.getName() }) }}">
		{% trans %}Back{% endtrans %}
	</a>

	<a href="{{ path('mapi_console_command', { 'command':command.getName() }) }}">
		{% trans %}Run Again{% endtrans %}
	</a>

	<a href="{{ path('mapi_console_help', { 'command':command.getName() }) }}">
		{% trans %}Help{% endtrans %}
	</a>

{% endblock %}