{% block namespace %}

	<ul class="ui-widget-tree ui-widget-tree">

		{% for namespaceName, namespace in namespaces %}
		<li>
			<a href="#{{ namespace.getName() }}">
				{{ namespace.getShortName() }}
			</a>

			{% include "SSMAPIBundle::Application/Namespace/westPaneNamespace.html.twig" with {
				'bundle':bundle,
				'namespaces': namespace
			} %}
		</li>
		{% endfor  %}

	</ul>

	{% include "SSMAPIBundle::Application/Namespace/westPaneNamespaceClass.html.twig" with {
		'bundle':bundle,
		'namespace': namespaces
	} %}

{% endblock %}