{% extends 'SSMAPIBundle::Default/toolbar.html.twig' %}

{% block toolbarTitle %}
	<h2>
		{% trans %}Command Help{% endtrans %}
	</h2>
{% endblock %}

{% block toolbarButtonSet %}

	<a href="{{ path('mapi_console_command', { 'command':command.getName() }) }}">
		{% trans %}Back{% endtrans %}
	</a>

{% endblock %}